<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Данные по {{ name }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body class="min-vh-100 d-flex flex-column">
    {% include "nav.html" %}

    {% if messages %}
    <div class=flashes>
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="flex-grow-1 container-lg mt-3">
        <h1>Сайт: {{ name }}</h1>

    <div class="mb-1">
    <table class="table table-bordered table-hover text-nowrap table-responsive" data-test="url">
        <tr>
          <td>
              ID
          </td>
          <td>
              {{ id }}
          </td>
        </tr>
        <tr>
          <td>
              Имя
          </td>
          <td>
              {{ name }}
          </td>
        </tr>
        <tr>
          <td>
              Дата создания
          </td>
          <td>
              {{ date }}
          </td>
        </tr>
    </table>
    </div>

    <h2 class="mt-5 pt-3 mb-3">Проверки</h2>
    <form method="post" action="{{ url_for('post_url_check', id=id) }}">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
    <tbody>
    <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
    </tr>

     {% for check in site_checks %}
      <tr>
       <td>
           {{ check.0 }}
       </td>
       <td>
           {% if check.2 %}
           {{ check.2 }}
           {% endif %}
       </td>
       <td>
           {% if check.3 %}
           {{ check.3 }}
           {% endif %}
       </td>
       <td>
           {% if check.4 %}
           {{ check.4 }}
           {% endif %}
       </td>
       <td>
           {% if check.5 %}
           {{ check.5 }}
           {% endif %}
       </td>
       <td>
           {{ check.6 }}
       </td>
     </tr>
     {% endfor %}
    </tbody>
    </table>
    </div>

    {% include "footer.html" %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>

