<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список сайтов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body class="min-vh-100 d-flex flex-column">
    {% include "nav.html" %}

    {% if messages %}
    <div class=flashes>
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}

<div class="table-responsive flex-grow-1 container-lg mt-3">
<h1>Сайты</h1>
<table class="table table-bordered table-hover text-nowrap table-responsive" data-test="urls">
    <tbody>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Последняя проверка</th>
        <th>Код ответа</th>
    </tr>
     {% for site in site_list %}
      <tr>
       <td>
           {{ site.0 }}
       </td>
       <td>
           <a href="{{ url_for('get_url', id=site.0) }}">{{ site.1 }}</a>
       </td>
       <td>
           {% if site.5 %}
           {{ site.5 }}
           {% endif %}
       </td>
       <td>
           {% if site.4 %}
           {{ site.4 }}
           {% endif %}
       </td>
     </tr>
     {% endfor %}
     </tbody>
 </table>
</div>

    {% include "footer.html" %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>

